<!DOCTYPE html>
<head>

  <title>AES-256 Encryption</title>
  <meta charset="UTF-8">
  <link rel='stylesheet' type='text/css' href='./css/reset.css'>
  <!-- <link rel='stylesheet' type='text/css' href='./css/normalize.css'> -->
  <link rel='stylesheet' type='text/css' href='./css/skeleton.css'>
  <link rel='stylesheet' type='text/css' href='./css/custom.css'>

</head>

<body>

<section class='navbar'>
  <a href='/'></a>
</section>

<section class='main-container'>
  <section class='header'>
    <p class='title'><a href='/'>AES-256 Text Encryption</a></p>
  </section>

  <section class='forms-container'>

    <section class='encrypt-container'>
      <form action='/encrypt' method='post' class='form'>
        <input type='text' name='message' placeholder='Enter message here...' class='message-input-field' required="required">
        <input type='text' name='key' placeholder='Enter key here...' class='key-input-field' required="required">
        <input type='submit' value='encrypt' class='encrypt-button'>
      </form>
    </section>

    <section class='decrypt-container'>
      <form action='/decrypt' method='post' class='form'>
        <input type='text' name='encrypted_message' placeholder='Copy and paste encrypted message here...' class='message-input-field' required="required">
        <input type='text' name='decrypt_key' placeholder='Enter key here...' class='key-input-field' required="required">
        <input type='submit' value='decrypt' class='decrypt-button'>
      </form>
    </section>

  </section>

  </section>

  <section class='message-container'>
    <p class='message-header'>Message:</p>
    <p class='encrypted-value'><%=@encrypted_value %></p>
    <p class='decrypted-value'><%=@decrypted_value %></p>
  </section>

  <section class='footer'>
</section>

</body>

</html>
