body {
  text-align: center;
}

.title {
  padding: 1.5%;
  font-size: 2.5em;
}

.message-container {
  padding: 2%;
}

.forms-container {
  padding-top: 2%;
}

.message-header {
  font-size: 2em;
  padding: 2%;
}

.message-input-field {
  width: 40%;
  height: 40px;
  font-size: 1em;
}

.key-input-field {
  height: 40px;
  font-size: 1em;
}

.decrypt-container {
  padding-top: 1%;
}
