body {
  text-align: center;
  font-family: "Amble";
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

a:-webkit-any-link {
  color: black;;
  text-decoration: none;
  cursor: auto;
}

a:hover {
  color: black;
}

h2 {
  color: white;
}

.main-container {
  display: inline-block;
  width: 1000px;
  height: 160px;
  background-color: #D3D3D3;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 10px 10px 5px #888888;
  border-style: solid;
  border-width: 2px;
  margin: auto;
  margin-top: 50px;
}

.title {
  font-size: 2em;
  color: black;
  background-color: #A9A9A9;
  border-bottom: 2px solid black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.message-header {
  font-size: 1.5em;
  border-bottom: 2px solid black;
  background-color: #A9A9A9;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.message-container {
  display: inline-block;
  width: 1000px;
  background-color: #D3D3D3;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 10px 10px 5px #888888;
  border-style: solid;
  border-width: 2px;
  margin: auto;
  margin-top: 3.5%;
}


.message-input-field {
  width: 50%;
  height: 40px;
  font-size: 1em;

}

input[type="text"] {
  border: 1px solid black;
  box-shadow: 2.5px 2.5px 2.5px #888888
}

.key-input-field {
  height: 40px;
  font-size: 1em;
}

.encrypt-button {
  padding: 0.75%;
  font-size: 1em;
  background-color: black;
  box-shadow: 3px 3px 3px #888888
}

.decrypt-button {
  padding: 0.75%;
  font-size: 1em;
  box-shadow: 3px 3px 3px #888888
}

.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
  background-color: black;
  color: white;
  border: grey;
  font-family: "Amble"
}

input[type="submit"]:hover {
  color: white;
}

.-webkit-input-placeholder {
  font-family: "Amble"
}

.encrypted-value {
  margin-top: -1%;
  padding-bottom: 2%;
}

.decrypted-value {
  margin-top: -2%;
}

.navbar {
  width: 100%;
  height: 62.5px;
  background-color: #A9A9A9;
  border-bottom: 2px solid black;
}

.black-lock-image {
  width:50px;
  margin-top: 0.35%;
  position: absolute;
}
